# Obsidian
.obsidian/workspace.json
.obsidian/workspace
.obsidian/cache
.obsidian/plugins/better-word-count/data.json
.obsidian/plugins/obsidian-git/data.json

# OS files
.DS_Store
Thumbs.db
desktop.ini
*.swp
*.swo

# Temporary
~$*
*.tmp
